@model PN2016.Models.ContactInfoViewModel
@{
    ViewBag.Title = "2016 Directory";
}

<section>
    <h2 id="content"><a name="directory"></a>2016 Directory (NY/NJ/CT)</h2>
    <p>
        As part of 2016 PN function we planned to collect contact information of Nagarathars in our region. <br />
        Please fill out the below form and submit the information for this year directory. The directory will be available on request.
        <h2>This form is currently not active</h2>
    </p>
    <div class="row">

    </div>
</section>
<section>
    <div class="row">
        <div class="11u$ 12u$(medium)">
            @using (Html.BeginForm("Create", "Directory", FormMethod.Post, new { encType = "multipart/form-data" }))
            {

                <h3>Contact Info. Form</h3>
                <div class="row uniform">
                    <div class="12u 12u$(medium)">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="row uniform" id="primary">
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.FirstName, new { id = "firstName", placeholder = "First Name", required = "required" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.LastName, new { id = "lastName", placeholder = "Last Name", required = "required" })
                    </div>
                    <div class="3u 12u$(small)">
                        @Html.RadioButtonFor(m => m.Gender, "M", new { id = "genderMale", @checked = "true" })
                        <label for="genderMale">Chettiar</label>
                    </div>
                    <div class="3u 12u$(small)">
                        @Html.RadioButtonFor(m => m.Gender, "F", new { id = "genderFemale" })
                        <label for="genderFemale">Aachi</label>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Email, new { id = "email", placeholder = "Email", required = "required", type = "email" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.HomePhone, new { id = "homePhone", placeholder = "Home Phone#", required = "required" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.MobilePhone, new { id = "mobilePhone", placeholder = "Mobile Phone#" })
                    </div>
                    <div class="12u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Address, new { id = "address", placeholder = "Address" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.City, new { id = "city", placeholder = "US-City", required = "required" })
                    </div>
                    <div class="3u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="State" id="state" required>
                                <option value=""> US-State</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NY">New York</option>
                                <option value="CT">Connecticut</option>
                            </select>
                        </div>
                    </div>
                    <div class="3u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.ZipCode, new { id = "zipCode", placeholder = "Zip" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="Kovil" id="kovil" onChange="LoadPirivu(this.value, 'pirivu')" required>
                                <option value=""> Select Kovil</option>
                                <option value="Ilayatrangudi">Ilayatrangudi</option>
                                <option value="Iluppakudi">Iluppakudi</option>
                                <option value="Iraniyur">Iraniyur</option>
                                <option value="Mathur">Mathur</option>
                                <option value="Nemam_Kovil">Nemam Kovil</option>
                                <option value="Pillaiyarpatti">Pillaiyarpatti</option>
                                <option value="Soorakudi">Soorakudi</option>
                                <option value="Vairavan_Kovil">Vairavan Koil</option>
                                <option value="Velangudi">Velangudi</option>
                            </select>
                        </div>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="KovilPirivu" id="pirivu" required>
                                <option value=""> Select Pirivu</option>
                            </select>
                        </div>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.NativePlace, new { id = "nativePlace", placeholder = "Native Place", required = "required" })
                    </div>
                    <div class="3u 12u$(small)">
                        @Html.RadioButtonFor(m => m.MaritalStatus, "S", new { id = "maritalStatusSingle", onchange = "ToogleSecForm(this.value)" })
                        <label for="maritalStatusSingle">Single</label>
                    </div>
                    <div class="3u 12u$(small)">
                        @Html.RadioButtonFor(m => m.MaritalStatus, "M", new { id = "maritalStatusMarried", onchange = "ToogleSecForm(this.value)" })
                        <label for="maritalStatusMarried">Married</label>
                    </div>
                    <!-- Break -->
                </div>
                <!-- Break -->
                <div class="row uniform" id="spouse" name="spouse" style="display:none;">
                    <div class="12u 12u$(xsmall)">
                        <h3>Spouse Information</h3>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.SpouseFirstName, new { id = "spouseFirstName", placeholder = "First Name" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.SpouseLastName, new { id = "spouseLastName", placeholder = "Last Name" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.SpouseEmail, new { id = "spouseEmail", placeholder = "Email", type = "email" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.SpouseMobilePhone, new { id = "spouseMobilePhone", placeholder = "Mobile Phone#" })
                    </div>
                    <div class="12u 12u$(xsmall)">
                        <h5>Please provide your spouse's information at birth for the following</h5>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="SpouseKovil" id="spouseKovil" onChange="LoadPirivu(this.value, 'spouseKovilPirivu')">
                                <option value=""> Select Kovil</option>
                                <option value="Ilayatrangudi">Ilayatrangudi</option>
                                <option value="Iluppakudi">Iluppakudi</option>
                                <option value="Iraniyur">Iraniyur</option>
                                <option value="Mathur">Mathur</option>
                                <option value="Nemam_Kovil">Nemam Kovil</option>
                                <option value="Pillaiyarpatti">Pillaiyarpatti</option>
                                <option value="Soorakudi">Soorakudi</option>
                                <option value="Vairavan_Kovil">Vairavan Koil</option>
                                <option value="Velangudi">Velangudi</option>
                            </select>
                        </div>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="SpouseKovilPirivu" id="spouseKovilPirivu">
                                <option value=""> Select Pirivu</option>
                            </select>
                        </div>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.SpouseNativePlace, new { id = "spouseNativePlace", placeholder = "Native Place" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                    </div>

                    <div class="12u 12u$(xsmall)">
                        <h3>Kids Information. Please fill age as of 01/01/2017.</h3>
                    </div>

                    <div class="7u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Kid1FirstName, new { id = "k1.FirstName", placeholder = "First Name" })
                    </div>
                    <div class="2u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Kid1Age, new { id = "k1.Age", placeholder = "Age", min = "0", max = "25" })
                    </div>
                    <div class="3u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="Kid1Gender" id="k1.Gender">
                                <option value=""> Gender</option>
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                            </select>
                        </div>
                    </div>
                    <!-- Break -->
                    <div class="7u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Kid2FirstName, new { id = "k2.FirstName", placeholder = "First Name" })
                    </div>
                    <div class="2u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Kid2Age, new { id = "k2.Age", placeholder = "Age", min = "0", max = "25" })
                    </div>
                    <div class="3u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="Kid2Gender" id="k2.Gender">
                                <option value=""> Choose</option>
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                            </select>
                        </div>
                    </div>
                    <!-- Break -->
                    <div class="7u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Kid3FirstName, new { id = "k3.FirstName", placeholder = "First Name" })
                    </div>
                    <div class="2u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Kid3Age, new { id = "k3.Age", placeholder = "Age", min = "0", max = "25" })
                    </div>
                    <div class="3u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="Kid3Gender" id="k3.Gender">
                                <option value=""> Choose</option>
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                            </select>
                        </div>
                    </div>

                    <div class="row uniform" id="addKids">
                        <div class="3u 12u$(xsmall)">
                            <ul class="actions">
                                <li><a href="javascript:AddMore()" class="button special">Add More</a></li>
                            </ul>
                        </div>
                        <div class="9u 12u$(xsmall)">
                        </div>
                    </div>

                </div>

                <div class="row uniform" id="kids+" name="kids+" style="display:none;">
                    <div class="7u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Kid4FirstName, new { id = "k4.FirstName", placeholder = "First Name" })
                    </div>
                    <div class="2u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Kid4Age, new { id = "k4.Age", placeholder = "Age", min = "0", max = "25" })
                    </div>
                    <div class="3u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="Kid4Gender" id="k4.Gender">
                                <option value=""> Gender</option>
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                            </select>
                        </div>
                    </div>
                    <!-- Break -->
                    <div class="7u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Kid5FirstName, new { id = "k5.FirstName", placeholder = "First Name" })
                    </div>
                    <div class="2u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Kid5Age, new { id = "k5.Age", placeholder = "Age", min = "0", max = "25" })
                    </div>
                    <div class="3u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="Kid5Gender" id="k5.Gender">
                                <option value=""> Choose</option>
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Break -->
                <div class="row uniform">
                    <div class="12u 12u$(xsmall)">
                        <h3>Family Picture:</h3>
                    </div>
                    <div class="6u 12u$(medium)">
                        @Html.TextBoxFor(m => m.FamilyPic, new { type = "file", id = "f1.Image" })
                    </div>
                    <div class="6u 12u$(medium)">
                        <img id="f1.ImagePreview" style="max-height:300px;max-width:300px; " />
                    </div>
                </div>
                <!-- Break -->
                <div class="row uniform">
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="Submit Info." class="special" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section JavaScript{
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script>
        var p1State = '@Html.ValueFor(m => m.State)';
    </script>
    <script>
        var data = {
            "kovils": {
                "Ilayatrangudi": ["Kazhani Vaasarkkudaiyar","Kinginikkoorudaiyar","Okkurudaiyar","Pattanasamiyar","Perusenthurudaiyar","Sirusenthurudaiyar","Perumaruthurudaiyar"],
                "Mathur": ["Arumbakkur", "Kannur", "Karuppur", "Kulathur", "Mannur", "Manalur", "Uraiyur"],
                "Vairavan_Kovil": ["Kazhani Vaasarkkudaiyar","Maruthenthirapuram","Periya vahuppu","Pilliyar vahuppu","Theyyanar vahuppu"]
            }
        }

        $(document).ready(function () {
            //ToDo: Fix Loss of selected Value
        });

        //Image Preview
        document.getElementById("f1.Image").onchange = function () {
            var reader = new FileReader();

            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("f1.ImagePreview").src = e.target.result;
            };

            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        };

        //Load Kovil Pirivu based on Kovil
        function LoadPirivu(kovilname, target)
        {
            var pirivus = data.kovils[kovilname];
            var selectHtml = "<option value=''> Choose Pirivu</option>";
            if (pirivus)
            {
                for (var i = 0; i < pirivus.length; i++) {
                    selectHtml += "<option value='" + pirivus[i] + "'>" + pirivus[i] + "</option>";
                }
            }
            else
            {
                var selectHtml = "<option value='NoPirivu'> No Pirivu</option>";
            }
            document.getElementById(target).innerHTML = selectHtml;
        }

        function ToogleSecForm(mstatus)
        {
            var secForm = document.getElementById('spouse');
            if (mstatus != 'S')
            {
                secForm.style.display = "block";
                SpouseFormValidation(true);
            }
            else
            {
                secForm.style.display = "none";
                SpouseFormValidation(false);
            }
            KidsReset();
        }
        function AddMore()
        {
            document.getElementById('addKids').style.display = "none";
            document.getElementById('kids+').style.display = "block";
        }
        function KidsReset()
        {
            document.getElementById('addKids').style.display = "block";
            document.getElementById('kids+').style.display = "none";
        }
        function SpouseFormValidation(status)
        {
            var fields = ["spouseFirstName", "spouseLastName", "spouseKovil","spouseKovilPirivu", "spouseNativePlace"];
            for (var index in fields)
            {
                var field = fields[index];
                document.getElementById(field).required = status;
            };
        }

    </script>
}
