@model PN2016.Models.ContactInfoViewModel
@{
    ViewBag.Title = "2016 Directory";
}

@section StyleSheets{
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}

<section>
    <h2 id="content"><a name="directory"></a>2016 Directory (NY/NJ/CT)</h2>
    <p>
        As part of 2016 PN function we planned to collect contact information of Nagarathars in our region. <br />
        Please fill out the below form and submit the information for this year directory. The directory will be available on request.
    </p>
</section>

<section>
    <div class="row">
        <div class="11u$ 12u$(medium)">
            @using (Html.BeginForm("Create", "Directory", FormMethod.Post, new { encType = "multipart/form-data" }))
            {

                <h3>Contact Info. Form</h3>
                <div class="row uniform">
                    <div class="12u 12u$(medium)">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row uniform" id="primary">
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.FirstName, new { id = "firstName", placeholder = "First Name", required = "required" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.LastName, new { id = "lastName", placeholder = "Last Name", required = "required" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.RadioButtonFor(m => m.Gender, "M", new { id = "genderMale", @checked = "true" })
                        <label for="genderMale">Chettiar</label>
                        @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
                        @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
                        @Html.RadioButtonFor(m => m.Gender, "F", new { id = "genderFemale" })
                        <label for="genderFemale">Aachi</label>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Email, new { id = "email", placeholder = "Email", required = "required", type = "email" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.HomePhone, new { id = "homePhone", placeholder = "Home Phone#", required = "required" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.MobilePhone, new { id = "mobilePhone", placeholder = "Mobile Phone#" })
                    </div>
                    <div class="12u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.Address, new { id = "address", placeholder = "Address" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.City, new { id = "city", placeholder = "US-City", required = "required" })
                    </div>
                    @{
                        var state_0 = new SelectListItem() { Value = "", Text = "US-State" };
                        var state_nj = new SelectListItem() { Value = "NJ", Text = "New Jersey" };
                        var state_ny = new SelectListItem() { Value = "NY", Text = "New York" };
                        var state_ct = new SelectListItem() { Value = "CT", Text = "Connecticut" };
                        var state_pa = new SelectListItem() { Value = "PA", Text = "Pennsylvania" };
                        var states = new[] { state_0, state_nj, state_ny, state_ct, state_pa };
                    }
                    <div class="3u 12u$(xsmall)">
                        <div class="select-wrapper">
                            @Html.DropDownListFor(m => m.State, states, new { id = "state", required = "required" })
                        </div>
                    </div>
                    <div class="3u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.ZipCode, new { id = "zipCode", placeholder = "Zip" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="Kovil" id="kovil" onChange="LoadPirivu(this.value, 'kovilPirivu')" required>
                                <option value=""> Select Kovil</option>
                                <option value="Ilayatrangudi">Ilayatrangudi</option>
                                <option value="Iluppakudi">Iluppakudi</option>
                                <option value="Iraniyur">Iraniyur</option>
                                <option value="Mathur">Mathur</option>
                                <option value="Nemam Kovil">Nemam Kovil</option>
                                <option value="Pillaiyarpatti">Pillaiyarpatti</option>
                                <option value="Soorakudi">Soorakudi</option>
                                <option value="Vairavan Kovil">Vairavan Koil</option>
                                <option value="Velangudi">Velangudi</option>
                            </select>
                        </div>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="KovilPirivu" id="kovilPirivu" required>
                                <option value=""> Select Pirivu</option>
                            </select>
                        </div>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.NativePlace, new { id = "nativePlace", placeholder = "Native Place", required = "required" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.RadioButtonFor(m => m.MaritalStatus, "S", new { id = "maritalStatusSingle", onchange = "ToogleSpouseForm(this.value)" })
                        <label for="maritalStatusSingle">Single</label>
                        @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
                        @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
                        @Html.RadioButtonFor(m => m.MaritalStatus, "M", new { id = "maritalStatusMarried", onchange = "ToogleSpouseForm(this.value)" })
                        <label for="maritalStatusMarried">Married</label>
                    </div>
                    <!-- Break -->
                </div>
                <!-- Break -->
                <div class="row uniform" id="spouse" name="spouse" style="display:none;">
                    <div class="12u 12u$(xsmall)">
                        <h3>Spouse Information</h3>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.SpouseFirstName, new { id = "spouseFirstName", placeholder = "First Name" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.SpouseLastName, new { id = "spouseLastName", placeholder = "Last Name" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.SpouseEmail, new { id = "spouseEmail", placeholder = "Email", type = "email" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.SpouseMobilePhone, new { id = "spouseMobilePhone", placeholder = "Mobile Phone#" })
                    </div>
                    <div class="12u 12u$(xsmall)">
                        <h5>Please provide your spouse's information at birth for the following</h5>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="SpouseKovil" id="spouseKovil" onChange="LoadPirivu(this.value, 'spouseKovilPirivu')">
                                <option value=""> Select Kovil</option>
                                <option value="Ilayatrangudi">Ilayatrangudi</option>
                                <option value="Iluppakudi">Iluppakudi</option>
                                <option value="Iraniyur">Iraniyur</option>
                                <option value="Mathur">Mathur</option>
                                <option value="Nemam Kovil">Nemam Kovil</option>
                                <option value="Pillaiyarpatti">Pillaiyarpatti</option>
                                <option value="Soorakudi">Soorakudi</option>
                                <option value="Vairavan Kovil">Vairavan Koil</option>
                                <option value="Velangudi">Velangudi</option>
                            </select>
                        </div>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <div class="select-wrapper">
                            <select name="SpouseKovilPirivu" id="spouseKovilPirivu">
                                <option value=""> Select Pirivu</option>
                            </select>
                        </div>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        @Html.TextBoxFor(m => m.SpouseNativePlace, new { id = "spouseNativePlace", placeholder = "Native Place" })
                    </div>
                    <div class="6u 12u$(xsmall)">
                    </div>

                    <div class="12u 12u$(xsmall)">
                        <h3>Kids Information. Please fill age as of 01/01/2017.</h3>
                    </div>

                    @{ 
                        var gender_o = new SelectListItem() { Value = "", Text = "Gender" };
                        var gender_f = new SelectListItem() { Value = "F", Text = "Female" };
                        var gender_m = new SelectListItem() { Value = "M", Text = "Male" };
                        var items = new[] { gender_o, gender_f, gender_m };
                    }

                    @{
                        for (int i = 0; i < 3; i++)
                        {
                            <div class="7u 12u$(xsmall)">
                                @Html.TextBoxFor(m => m.Kids[i].FirstName, new {placeholder = "First Name" })
                            </div>
                            <div class="2u 12u$(xsmall)">
                                @Html.TextBoxFor(m => m.Kids[i].Age, new { placeholder = "Age", min = "0", max = "35" })
                            </div>
                            <div class="3u 12u$(xsmall)">
                                <div class="select-wrapper">
                                    @Html.DropDownListFor(m => m.Kids[i].Gender, items)
                                </div>
                            </div>
                        }
                    }
                    <div class="row uniform" id="addKids">
                        <div class="3u 12u$(xsmall)">
                            <ul class="actions">
                                <li><a href="javascript:AddMore()" class="button special">Add More</a></li>
                            </ul>
                        </div>
                        <div class="9u 12u$(xsmall)">
                        </div>
                    </div>
                </div>
                <div class="row uniform" id="kids+" name="kids+" style="display:none;">
                    @{
                        for (int i = 3; i < 5; i++)
                        {
                            <div class="7u 12u$(xsmall)">
                                @Html.TextBoxFor(m => m.Kids[i].FirstName, new { placeholder = "First Name" })
                            </div>
                            <div class="2u 12u$(xsmall)">
                                @Html.TextBoxFor(m => m.Kids[i].Age, new { placeholder = "Age", min = "0", max = "35" })
                            </div>
                            <div class="3u 12u$(xsmall)">
                                <div class="select-wrapper">
                                    @Html.DropDownListFor(m => m.Kids[i].Gender, items)
                                </div>
                            </div>
                        }
                    }
                </div>

                <!-- Break -->
                <div class="row uniform">
                    <div class="12u 12u$(xsmall)">
                        <h3>Family Picture:</h3>
                    </div>
                    <div class="6u 12u$(medium)">
                        @Html.TextBoxFor(m => m.FamilyPic, new { type = "file", id = "f1.Image" })
                    </div>
                    <div class="6u 12u$(medium)">
                        <img id="f1.ImagePreview" style="max-height:300px;max-width:300px; " />
                    </div>
                </div>
                <!-- Break -->
                <div class="row uniform">
                    <div class="12u$">
                        <ul class="actions">
                            <li><input type="submit" value="Submit Info." class="special" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section JavaScript{
    <script>
            var kovil = '@Html.ValueFor(m => m.Kovil)';
            var kovilPirivu = '@Html.ValueFor(m => m.KovilPirivu)';
            var maritalStatus = '@Html.ValueFor(m=>m.MaritalStatus)';
            var skovil = '@Html.ValueFor(m => m.SpouseKovil)';
            var skovilPirivu = '@Html.ValueFor(m => m.SpouseKovilPirivu)';
    </script>
    <script src="~/assets/js/nativeplaces.js"></script>
    <script src="~/assets/js/contactform.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}
